.results
  = will_paginate @workitems
  %table.list
  
    %thead
      %td 
        = t '.title'
      %td
        = t '.participant_name'
      %td
        = t '.task'
      %td
  
    - @workitems.each do |workitem|
      %tr
        %td
          - unless workitem.params['task'].blank?
            - begin
              = render :partial => "tasks/#{workitem.params['task']}/title", 
              :locals => { :task_fields => workitem.fields, :workitem => workitem} 
            - rescue ActionView::MissingTemplate
              = workitem.params['task']
        %td
          = workitem.participant_name
        %td
          = workitem.params['task']
        %td
          - unless workitem.params['task'].blank?
            - if workitem.participant_name == session[:username]
              = link_to t('.edit'), :controller => "tasks/"+workitem.params['task'],:action => "edit", :id => workitem.fei.sid
              = link_to t('.unclaim'), :controller => "tasks/"+workitem.params['task'],:action => "unclaim", :id => workitem.fei.sid
            - else
              = link_to t('.claim'), :controller => "tasks/"+workitem.params['task'],:action => "claim", :id => workitem.fei.sid
              = link_to t('.claim&edit'), :controller => "tasks/"+workitem.params['task'],:action => "claim", :id => workitem.fei.sid, :edit =>true
          -else
            = link_to t('.show'), task_path(workitem)
  = will_paginate @workitems
